{%extends 'layout.html'%}
{%block content%}
<div class="w1000">
    <div class="postinGuidance">
        <div class="list1 clear">
            <ul>
                <li>
                    <span class="iconText"></span>
                    <p>
                        生活中总有待着的时候，发现一间隐秘的小店、
                        参与了一次不匆忙的慢旅行、亦或体验了一场艺术盛宴……
                        在这里分享你的不俗品位与真实体验经历，不仅会找到志同道合者，
                        还有可能会成为下一个体验官！
                    </p>
                    <a href="/create" class="all_link"></a>
                    <a href="/create" class="bom_link bom_link1">分享私人体验经历</a>
                </li>
               <!-- <li>
                    <span class="ico2"></span>
                    <p>
                        这里也是志同道合者的沟通场所，有什么希望与大家共同探讨的话题，或希望询问什么问题，也可以在这里发起。
                    </p>
                    <a href="/share/create?share2_create_guide" class="all_link"></a>
                    <a href="/share/create?share2_create_guide" class="bom_link bom_link2">发起社区讨论</a>
                </li>-->
               <!-- <li class="nomr" id="btn-check_report">
                    <span class="ico3"></span>
                    <p>
                        真为你开心！你已经体验到了少数人才可前往的体验活动，慢旅亦或偷闲。迫不及待想把体验过程中的亮点和精髓与大家分享？告诉大家你的体验感悟吧！
                    </p>
                    <a href="javascript:;" class="all_link"></a>
                    <a href="javascript:;" class="bom_link bom_link3">前往“我的体验”撰写体验报告</a>
                </li>-->
            </ul>
        </div>
    </div>
</div>
{%endblock%}