{%extends 'layout.html'%}
{%block content%}
<div class="lunboAll">
    <div class="lunboAll_inner">
        <div class="banner b1" style='background:url("../../public/image/index/1.jpg") center no-repeat;opacity:1;'></div>
        <div class="banner b2" style='background:url("../../public/image/index/2.jpg") center no-repeat;opacity: 0;'>
            <div class="mengBan"></div>
            <div class="write">
                <h1>浪费这只此一次的人生</h1>
                <p>总要给自己机会做点无用又有趣的事情。<br>一个下午，可以”偷闲“；一个假期，足以“漫游”；一种态度，即是“话题”。</p>
                <a href="#" class="index_aa">现在体验</a>
            </div>
        </div>
        <div class="banner b3" style='background:url("../../public/image/index/3.jpg") center no-repeat;opacity: 0;'>
            <div class="mengBan"></div>
            <div class="write">
                <h1>优美的高于生活——年夜饭</h1>
                <p>理想的生活是优美的高于生活。<br>每逢过年能与家人团聚，一起吃年夜饭，看春晚，放烟花...<br/></p>
                <a href="#" class="index_aa">立即参与</a>
            </div>
        </div>
        <div class="banner b4" style='background:url("../../public/image/index/4.jpg") center no-repeat;opacity: 0;'>
            <div class="mengBan"></div>
            <div class="write">
                <h1>回顾过去一年，你有神马想说的？</h1>
                <p>属于每个人的2017年，转眼就要画上句号了。<br>辞旧迎新之际，在待着上写下“你的2017年”吧。</p>
                <a href="#" class="index_aa">发起体验</a>
            </div>
        </div>
        <div class="banner b5" style='background:url("../../public/image/index/5.jpg") center no-repeat;opacity: 0;'>
            <div class="mengBan"></div>
            <div class="write">
                <h1>一周那么几天，走一站路回家</h1>
                <p>走一站路回家，一路上有春雨浸润的土地，有赵大叔的煎饼摊子...<br>你可能走了40分钟，但格外的轻松，听音乐。吹吹风，双脚走的发热。<br/>没有人拥挤，不为赶时间，只和自己走着。</p>
                <a href="#" class="index_aa">立即参与</a>
            </div>
        </div>
        <div class="banner b6" style='background:url("../../public/image/index/6.jpg") center no-repeat;opacity: 0;'>
            <div class="mengBan"></div>
            <div class="write">
                <h1>优美的高于生活——年夜饭</h1>
                <p>理想的生活是优美的高于生活。<br>每逢过年能与家人团聚，一起吃年夜饭，看春晚，放烟花...<br/></p>
                <a href="#" class="index_aa">立即参与</a>
            </div>
        </div>
        <div class="indexArrow">
            <a href="javascript:" class="prevArrow" onclick="prev(-1)"></a>
            <a href="javascript:" class="nextArrow" onclick="prev(1)"></a>
        </div>
    </div>
</div>
<div class="index_part1">
    <div class="index_part1Inner">
        <div class="top_index">
            <div class="top_indexText1">
                体验无需付费，但需按要求进行申请等待评选，<br>
                并按时赴约体验，履行体验官的神圣职责~<br>
                <a href="javascript;" target="_blank">为何免费体验？</a>
            </div>
            <div class="top_indexText2">
                不想等待选拔？免费体验申请不易？<br>
                任性就想买？如果希望更自主的参与心仪的体验，<br>
                留意限量抢购吧~
            </div>
        </div>
        <div class="indexTitle1">
            <h1></h1>
            <p>这儿没有一场说走就走的旅行，只有遍布全球的人生体验</p>
        </div>
        <div class="experienceMain clear">
            <div class="fl experience exLeft">
                <div class="exTitle">
                    <div class="fl exTitle_left"><h1></h1><br/>“待”一阵儿</div>
                    <div class="fl exTitle_right">这里不介绍别人口中的著名景点<br/>这里的旅行只适合那些“不追逐，做自己”的人。<br/><a href="javascript;">MORE</a></div>
                </div>
                <div class="imgPart">
                    <div class="fl imgPart_1">
                        <img src="../../public/image/index/imgPart_1.jpg">
                        <p>一眼绝美的太湖山水生活——太湖花床山水度假民宿</p>
                        <div class="bomBg"></div>
                        <div class="BoxDiv"></div>
                    </div>
                    <div class="fl imgPart_1">
                        <img src="../../public/image/index/imgPart_2.jpg">
                        <p>一眼绝美的太湖山水生活——太湖花床山水度假民宿</p>
                        <div class="bomBg"></div>
                        <div class="BoxDiv"></div>
                    </div>
                    <div class="fl imgPart_1">
                        <img src="../../public/image/index/imgPart_3.jpg">
                        <p>一眼绝美的太湖山水生活——太湖花床山水度假民宿</p>
                        <div class="bomBg"></div>
                        <div class="BoxDiv"></div>
                    </div>
                    <div class="fl imgPart_1 ">
                        <img src="../../public/image/index/imgPart_4.jpg">
                        <p>一眼绝美的太湖山水生活——太湖花床山水度假民宿</p>
                        <div class="bomBg"></div>
                        <div class="BoxDiv"></div>
                    </div>
                </div>
            </div>
            <div class="fl experience exRight">
                <div class="fl bigImg">
                    <img src="../../public/image/index/imgPart_5.jpg" style="width: 562px;height: 360px">
                    <div class="bigImg_text">
                        <h1>围炉夜话 尽享莫干——唯乐山居暖冬体验</h1>
                        <p>55人申请</p>
                        <a href="javascript;">立即体验</a>
                    </div>
                </div>
                <div class="fl imgPart_1 ">
                    <img src="../../public/image/index/imgPart_6.jpg">
                    <p>绝美体验的生态旅行——离天最近的草原旅行</p>
                    <div class="bomBg"></div>
                    <div class="BoxDiv"></div>
                </div>
                <div class="fl imgPart_1 ">
                    <img src="../../public/image/index/imgPart_7.jpg">
                    <p>洱海任有一片静谧，让你以梦为桨</p>
                    <div class="bomBg"></div>
                    <div class="BoxDiv"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="index_part2">
    <div class="index_part1Inner">
        <div class="index_title2 clear">
            <div class="tit2_Left">
                <h1>偷闲体验</h1><p>“待”一会儿</p>
            </div>
            <div class="tit2_Right">
                <p>在不同于往日的方寸“无用”之间，<br/>体会到生活还大有另外一种可能。</p>
                <a href="javascript;">MORE</a>
            </div>
        </div>
        <div class="imgPart clear">
            <div class="imgPart_2 fl">
                <div class="imgPart_2Div">
                    <img src="../../public/image/index/imgPart_8.jpg">
                </div>
                <a href="javascript;">待着~喝茶——体会平凡生活中的仪式感</a>
            </div>
            <div class="imgPart_2 fl">
                <div class="imgPart_2Div">
                    <img src="../../public/image/index/imgPart_9.jpg">
                </div>
                <a href="javascript;">待着~喝茶——体会平凡生活中的仪式感</a>
            </div>
            <div class="imgPart_2 fl imgLast">
                <div class="imgPart_2Div">
                    <img src="../../public/image/index/imgPart_10.jpg">
                </div>
                <a href="javascript;">待着~喝茶——体会平凡生活中的仪式感</a>
            </div>
            <div class="imgPart_2 fl">
                <div class="imgPart_2Div">
                    <img src="../../public/image/index/imgPart_11.jpg">
                </div>
                <a href="javascript;">待着~喝茶——体会平凡生活中的仪式感</a>
            </div>
            <div class="imgPart_2 fl">
                <div class="imgPart_2Div">
                    <img src="../../public/image/index/imgPart_12.jpg">
                </div>
                <a href="javascript;">待着~喝茶——体会平凡生活中的仪式感</a>
            </div>
            <div class="imgPart_2 fl imgLast">
                <div class="imgPart_2Div">
                    <img src="../../public/image/index/imgPart_13.jpg">
                </div>
                <a href="javascript;">待着~喝茶——体会平凡生活中的仪式感</a>
            </div>
        </div>
    </div>

</div>

<script>
    var banner = document.getElementsByClassName("banner");;
    var bannerI = 0;
    var timer=null;
    function lb(){
        bannerI++;
        if(bannerI>5){
            bannerI=0;
        }
        change(bannerI);
    }
    function change(x){
        for(var i=0;i<banner.length;i++){
            if(i==x){
                banner[i].style.opacity=1;
            }else{
                banner[i].style.opacity=0;
            }
        }
    }
    timer=setInterval(lb,3000);
    function prev(a){
        clearInterval(timer);
        for(var i=0;i<banner.length;i++){
            if(banner[i].style.opacity == 1){
                if(a==-1){
                    if(i==0){
                        bannerI=5;
                    }else{
                        bannerI = i+a;
                    }
                }else{
                    if(i==5){
                        bannerI=0;
                    }else{
                        bannerI = i+a;
                    }
                }
            }
        }
       change(bannerI);
        setTimeout(function(){
            timer=setInterval(lb,3000);
        },1000);
    }

    console.log(document.cookie+"123")
</script>
{%endblock%}

