{%extends 'layout.html'%}
{%block content%}
<div class="modifyPwd_Bg">
    <div class="modifyPwd_inner clear">
        <div class="fl pre_set setMp">
            <h3 class="setTitle">
                <i class="ico"></i> 个人设置
            </h3>
            <div class="basic_data" id="form_box">
                <div class="data_tit">
                    <a href="/personalSet?uid={{userInfo.uid}}">基本资料</a> <i></i> <a href="/profile/password" class="cur">修改密码</a> <i></i> <a href="/profile/bind">账号绑定</a>
                </div>
                <div class="data_info correctInfo pwBox">
                    <dl>
                        <dt>当前密码：</dt>
                        <dd>
							<span class="c">
                                <input type="password" class="pre_setInp dataInp" name="password_old" id="password_old">
								<span class="tip yes"><span class="icon"></span></span>
                                <span class="tip error"><span class="icon"></span></span>
							</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>新密码：</dt>
                        <dd>
							<span class="c"> <input type="password" class="pre_setInp dataInp" name="password_new1" id="password_new1"> <span class="tip yes"><span class="icon"></span></span>
								<span class="tip error"><span class="icon"></span></span>
							</span>
                        </dd>
                    </dl>

                    <dl>
                        <dt>确认密码：</dt>
                        <dd>
							<span class="c"> <input type="password" class="pre_setInp dataInp colorl" name="password_new2" id="password_new2"> <span class="tip yes"><span class="icon"></span></span>
								<span class="tip error"><span class="icon"></span></span>
							</span>
                        </dd>
                    </dl>
                    <input type="button" class="pwBtn" value="保存" id="btn_submit">
                    <!--<input type="button" class="pwBtn2" value="保存成功" />-->
                    <!--保存成功变灰按钮-->
                </div>
            </div>

        </div>
    </div>
</div>
{%endblock%}