.modifyPwd_Bg{ background:#ededef; min-width:1150px;}
.modifyPwd_inner{width: 1000px;margin: 0px auto;}
.pre_set{ border:1px solid #dfdfe0; width:733px; background:#fff; margin:48px 0px 107px 0px; box-shadow:1px 1px 2px #dfdfe0; }
.personalSet_right{ color:#707070; width:248px; height:566px; border:1px solid #dfdfe0; background:#fff; box-shadow:1px 1px 2px #dfdfe0; margin:48px 0px 0px 0px;}
.personalSet_right h4{ font-size:15px; padding:35px 0px 0px 18px;}
.personalSet_right h4 i{ color:#50c8d7;}
.personalSet_right .progressBar{ width:215px; height:35px; line-height:35px; color:#fff; font-size:14px; background:#ededef; margin:13px 0px 0px 17px;}
.personalSet_right .progressBar i{ display:inline-block; height:35px; line-height:35px; text-align:center; background:#4ec9d6;}
.personalSet_right .notPerfect{ padding:24px 0px 0px 18px;}
.personalSet_right .notPerfect h5{ font-size:15px; color:#50c8d7; padding-bottom:13px;}
.personalSet_right .notPerfect li{ line-height:26px; font-size:13px; color:#959595;}
.pre_set .setTitle{ border-bottom:1px solid #eeeeef; margin:22px 1px 0px 1px; color:#2f2f2f; font-size:18px; padding:0px 0px 8px 24px;}
.pre_set .setTitle .ico{ background:url(../image/personalFile/icoPng.png) 0px -203px no-repeat; display:inline-block; width:22px; height:22px; position:relative; top:4px; padding-right:11px;}
.pre_set .set_info{ padding:25px 0px 100px 65px; color:#464646;}
.pre_set .set_info .tit{ font-size:14px; padding-bottom:38px;}
.pre_set .set_info dl{ font-size:14px; overflow:hidden; padding-bottom:13px;}
.pre_set .set_info dt{ float:left; width:62px; font-size:13px; padding-top:2px;}
.pre_set .set_info dd{ float:left;}
.pre_set .set_info .set_btn{ margin:26px 0px 0px 120px;}
.pre_set .set_info .set_btn .submit{ background:#ffc031; width:101px; height:29px; border:1px solid #dfa82b; border-radius:2px; color:#fff; font-size:14px; font-family:"黑体"; filter: Dropshadow(offx = 1, offy = 0, color = #ad3c25) Dropshadow(offx = 0, offy = 1, color = #ad3c25) Dropshadow(offx = 0, offy = -1, color = #ad3c25) Dropshadow(offx = -1, offy = 0, color = #ad3c25); cursor:pointer;}
.basic_data .data_tit{ color:#464646; font-size:14px; padding:26px 0px 30px 62px;}
.basic_data .data_tit a{ color:#464646; }
.basic_data .data_tit a:hover{ text-decoration:none;}
.basic_data .data_tit .cur{ color:#50c8d7; border-bottom:2px solid #50c8d7;}
.basic_data .data_tit i{ color:#e2e2e3; background:#e2e2e3; position:relative; top:3px; margin:0px 20px; width:1px; height:14px; display:inline-block}
.basic_data .pwBox{ margin:8px 0px 0px 25px;}
.basic_data .pwBox dd{ padding-left:16px;}
.basic_data .pwBox .pwBtn{ width:102px; height:30px; background:url(../image/personalFile/pw_sub.png) 0px -329px no-repeat; text-indent:-9999em; cursor:pointer; margin:30px 0px 0px 190px; }
.basic_data .pwBox .pwBtn2{ width:102px; height:30px; background:url(../image/personalFile/pw_sub.png) 0px -291px no-repeat; text-indent:-9999em; margin:30px 0px 0px 190px;}
